{% extends 'base.html.twig' %}

{% block title %}{{ thread.topic }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}

    {% for post in thread.posts %}
        <section class="section post">
        <div class="box">
            {{ post.text }}
        </div>
        </section>
    {% endfor %}

    {% if thread.posts|length < 1 %}
        <p>This thread doesn't have any posts.</p>
    {% endif %}

</div>
{% endblock %}
