{% extends 'base.html.twig' %}

{% block title %}Ben&lsquo;s Forum{% endblock %}

{% block stylesheets %}
    <style>
    .thread-author { text-align: right; }
    .subforum-threads a { color: #004c41; }
    .subforum-threads a:hover { font-weight: bold; }
    </style>
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}

    {% for subforum in subforums %}
    <section class="section">
    <div class="container">
        <nav class="panel">
            <p class="panel-heading">
                {{ subforum.name }}
            </p>
            {% for thread in subforum.threads %}
            <div class="panel-block subforum-latest-threads subforum-threads">
                <div class="container">
                <div class="columns">
                    <div class="column is-two-thirds thread-topic">
                        <a href="{{ path('thread', {id:thread.id}) }}">{{ thread.topic }}</a>
                    </div>
                    <div class="column is-one-third thread-author">
                        <a href="">{{ thread.author.username }}</a>
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}
        </nav>
    </div>
    </section>
    {% endfor %}

</div>
{% endblock %}
