{% extends 'base.html.twig' %}

{% block title %}Ben&lsquo;s Forum{% endblock %}

{% block body %}
    <section class="intro hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Ben&lsquo;s Forum</h1>
                <h2 class="subtitle">A friendly place to discuss things</h2>
            </div>
        </div>
    </section>

    {% for subforum in subforums %}
    <section class="section">
    <div class="container">
        <div class="box">
        <h4 class="subtitle is-4">{{ subforum.name }}</h2>
        {#
        <div class="subforum-latest-posts subforum-posts">
            {% for post in subforum.recent_posts %}
                <div class="post-preview">
                    <div class="post-topic"></div>
                    <div class="post-author"></div>
                </div>
            {% endfor %}
            </div>
        </div>
        #}
    </div>
    </div>
    </section>
    {% endfor %}

</div>
{% endblock %}
